In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime
from IPython.display import display, HTML

In [2]:
year = 2019
month = 12
day = 1

hour = 12
minute = 0
second = 0

In [14]:
date = datetime(year, month, day)
date

datetime.datetime(2019, 12, 1, 0, 0)

In [15]:
full_date = datetime(year, month, day, hour, minute, second)
print(full_date.day, full_date.hour)

1 12

In [17]:
first_three = [datetime(year, month, day), datetime(year, month, day+1), 
              datetime(year, month, day+2)]
print(type(first_three), '\n', first_three)

<class 'list'>
 [datetime.datetime(2019, 12, 1, 0, 0), datetime.datetime(2019, 12, 2, 0, 0), datetime.datetime(2019, 12, 3, 0, 0)]

In [19]:
dt_index = pd.DatetimeIndex(first_three)
dt_index

DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03'], dtype='datetime64[ns]', freq=None)

In [23]:
data = np.random.randn(3,4)
data

array([[-0.62372507, -0.25472069,  1.21314873,  0.13924458],
       [ 0.51262289,  0.41138442,  0.31872932,  0.09364393],
       [-1.41044603, -1.43622909,  1.01641148, -1.17517604]])

In [27]:
columns = ['Open', 'High', 'Low', 'Close']

df = pd.DataFrame(data, dt_index, columns)
display(df)

                Open      High       Low     Close
2019-12-01 -0.623725 -0.254721  1.213149  0.139245
2019-12-02  0.512623  0.411384  0.318729  0.093644
2019-12-03 -1.410446 -1.436229  1.016411 -1.175176

In [28]:
df.index.argmax()

2

In [29]:
df.index.max()

Timestamp('2019-12-03 00:00:00')